
   
.animate-timer {
         position: relative;
          animation: animatetop 1s infinite;
        }
        @keyframes animatetop {
          from {
            top: -30px;
          }
          to {
            top:5px;
          }
        }
